/* Estilos base */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}


/* Estilo para el contenedor principal .xd-1 */
.header,
.header * {
  box-sizing: border-box; 
}

.header {
  background: #0a472e; 
  padding: 1.1% 1.6%; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  max-width: 100%;
  position: relative; 
}
/* Estilo para el encabezado .encabezado */
.title-site {
color: var(--white, #ffffff);
text-align: center;
font: 400 1.2vw 'Nunito', sans-serif; 
position: relative;
}

/* Media query para ajustar el tamaño del texto en pantallas más pequeñas */
@media screen and (max-width: 600px) {
.title-site {
  font-size: 4vw; 
}
}

/* Barra de búsqueda */
.midle {
  background: var(--gray-scale-white, #ffffff);
  height: 6.8vw;
  margin-top: 2vw;
  position: relative;
  box-shadow: inset 0px -1px 0px 0px rgba(229, 229, 229, 1.00);
  display: flex;
  max-width: 100%;
}

.search {
  border-radius: 7px;
  border: 1px solid var(--gray-scale-gray-100, #e6e6e6);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 1vw;
}

.searech {
  padding: 12px 18px 12px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 83%;
}

.search2 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
  position: relative;
}

.group-01 {
  height: auto;
  position: absolute;
  right: 12.5%;
  left: 12.5%;
  width: 75%;
  bottom: 12.5%;
  top: 12.5%;
  height: 75%;
  overflow: visible;
}

.search3 {
  color: var(--gray-scale-gray-500, #808080);
  text-align: left;
  font: 400 18px/21px 'Poppins-Regular', sans-serif;
  width: 370px;
  border: 0px solid var(--gray-scale-gray-100, #e6e6e6);
}

button {
  background: var(--branding-success, #00b207);
  border-radius: 0px 6px 6px 0px;
  padding: 14px 24px 14px 24px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

  .search-button {
  color: var(--gray-scale-white, #ffffff);
  text-align: left;
  font: var(--body-small-body-small-600, 600 14px/120% 'Poppins-SemiBold', sans-serif);
  border-radius: 0px 6px 6px 0px;
  
}

/* Iconos */
.icons {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 70vw; 
  top: 7.2vw;
}

.devider {
  border: 2px solid var(--gray-scale-gray-200, #cccccc);
  flex-shrink: 0;
  width: 1.8vw; 
  position: relative;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
  margin-top: -1.3vw;
}

.shopping-card {
  display: flex;
  flex-direction: row;
  gap: 0.2vw; 
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.shopping-cart {
  color: var(--gray-scale-gray-700, #4d4d4d);
  text-align: left;
  font: 400 1vw/120% 'Poppins-Regular', sans-serif; 
  position: relative;
}

.logo {
  display: block;
  height: auto;
  max-width: 11.3vw;
  position: absolute;
  left: 9.7%;
  top: 5px;
  transform-origin: 0 0;
  transform: rotate(-0.248deg) scale(1, 1);
  margin-top: 95px;
}

.shopping-cart-link {
  text-decoration: none;
  color: var(--gray-scale-gray-700, #4d4d4d);
}


/* Diseño Responsivo */
@media (max-width: 768px) {
  .search {
    left: 10%;
    transform: none;
  }

  .icons {
    left: 10%;
    transform: none;
  }
}


/* Estilos para el menú de navegación */
.main-container {
  display: flex;
}

.navigation,
.navigation * {
  box-sizing: border-box;
}

.navigation {
  display: flex;
  margin: 10px auto;
  margin-top: 20px;
  margin-bottom: 10px;
  max-width: 100%;
  padding: 0 20px; /* Ajuste el padding para evitar problemas de superposición */
  margin-left: 140px;
}

.navigation-container {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Alineado a la derecha */
  flex-grow: 1; /* Esto permite que el espacio restante se distribuya entre los elementos */
}

.icons-container {
  display: flex;
  gap: 32px;
  align-items: center; /* Alinear los íconos al centro verticalmente */
}

.about-Us-container { 
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.About-Us,
.shop,
.blog,
.contact,
.home {
  color: var(--dark, #666666);
  text-align: left;
  font: 700 18px 'Nunito', sans-serif;
  position: relative;
  transition: color 0.3s ease;
  text-decoration: none;
}

.home {
  color: var(--dark, #00B207);
}

.About-Us:hover,
.home:hover,
.shop:hover,
.blog:hover,
.contact:hover {
  color: #34db37;
}


/* Estilos Responsive Design */
@media (max-width: 768px) {
  .navigation {
    flex-direction: column;
    align-items: flex-start;
  }

  .navigation-container {
    margin-right: 0;
    margin-left: 0;
  }

  .icons-container {
    margin-top: 20px;
  }
}

/* Estilos para Phone */
.contact-info,
.contact-info * {
  box-sizing: border-box;
}

.contact-info {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  margin-right: 303px;
}

.phone-icon {
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  position: relative;
  overflow: hidden;
}

.phone-icon-svg {
  height: auto;
  position: absolute;
  right: 12.62%;
  left: 15.62%;
  width: 71.75%;
  bottom: 15.62%;
  top: 12.63%;
  height: 71.75%;
  overflow: visible;
}

.phone-number {
  color: var(--gray-scale-gray-900, #1a1a1a);
  text-align: left;
  font: var(--body-small-body-small-500, 500 17px/150% 'Poppins-Medium', sans-serif);
  position: relative;
}

/* Estilos para responsivo */
@media (max-width: 767px) {
  .contact-info {
    margin-right: 0; /
  }

  .phone-icon {
    width: 24px;
    height: 24px;
  }

  .phone-icon-svg {
    right: 10%;
    left: 15%;
    width: 75%;
    bottom: 15%;
    top: 12.5%;
  }

  .phone-number {
    font-size: 12px; 
  }
}

/* Baner icon */

.breadcrumbs, .breadcrumbs * {
  box-sizing: border-box;
  }
.breadcrumbs {
 background: linear-gradient(90.02deg, rgba(0, 0, 0, 0.70) 0%,rgba(0, 0, 0, 0.00) 100%);
  height: 120px;
 
         position: relative;
 
     }

.location {
 
         display: flex;
 
         flex-direction: row;
 
         gap: 12px;
 
         align-items: center;
 
         justify-content: flex-start;
 
         
     
         position: absolute;
  left: 160px;
 top: calc(50% - 12px);
 
 
     }

.home-1-1 {
 flex-shrink: 0;
 width: 24px;
  height: 24px;
         position: relative;
 
     overflow: hidden;
     
 }

.vegetables {
 color: var(--branding-success, #00b207);
 text-align: left;
 font: var(--body-medium-body-medium-400, 400 16px/150% 'Poppins-Regular', sans-serif);
 
         position: relative;
 
     }


/* Banner */
.banner {
  display: flex;
  margin-top: -110px;
  position: static;
  width: 100%; 
}

/* Estilos responsivos*/
.breadcrumbs, .breadcrumbs * {
  box-sizing: border-box;
}

/* Estilos responsivos */
@media (max-width: 767px) {
  .breadcrumbs {
    height: auto; /* Ajusta la altura automáticamente en dispositivos pequeños */
  }

  .location {
    left: 10px; /
  }

  .home-1-1 {
    width: 20px; 
    height: 20px;
  }

  .vegetables {
    font-size: 14px; 
  }

  /* Banner */
  .banner {
    margin-top: -90px; 
  }
}

  
  /* Estilos Generales */
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Imagen de portada */
  
  .Portada, .Portada * {
    box-sizing: border-box;
    }
.Portada {
   width: 50%;
    height: auto;
    position: relative;
    display: block;
    margin: 0 auto; /* Centrar la imagen */
    margin-top: 60px;

   
       }

  /* Titulo del blog */
  .finibus-bonorum-et-malorum {
    color: #2d3748;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin: 40px 0; 
    margin-right: 3vw;
  }
  
  /* Contenedor de Author y Fecha */
.author-and-date {
  display: flex;
}

/* Author */
.written-by-john-doe {
  color: #2d3748;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin-left: 24vw;
  margin-right: 4vw;
}

/* Fecha */
.monday-may-20 {
  color: #718096;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
   
}


.line-2, .line-2 * {
  box-sizing: border-box;
  }
.line-2 {
 
 border-style: solid;
  
 border-color: #e8e7e7;
 
 border-width: 1px 0 0 0;
 
 width: 760px;
  height: 0px;
 
         margin-top: 20px;
        margin-left: 380px;
 
     
     transform-origin: 0 0;
 
     transform: rotate(0deg) scale(1, 1);
 
 }


  
  /* Contenido */
  .section-container {
    text-align: justify; 
    max-width: 800px;
    margin: 0 auto; 
    margin-top: 35px;
  }
  
  /* Estilos para secciones */
  .section-container p {
    color: #718096;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .section3 {
    font-style: italic;
    font-weight: 700;
  }
  
  .section9 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 20px 0; 
  }
  
  /* Estilos Responsive Design */
  @media (max-width: 768px) {
    .Portada {
      width: 100%;
      margin: 0; /* Resetear el margen lateral */
    }
  
    .section-container {
      padding: 0 20px; /* Añadir espacio lateral en dispositivos móviles */
    }
  }
  

/* Estilos del footer .footer */
#miFooter {
    background-color: #0a472e;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    clear: both;
    margin-top: 100px;
  }
